body {
    background-color: #DCDCDC;
}


button {
    max-height: 8em;
    max-width: 13em;
    margin: .1em;
    font-size: 3em;
    padding: .5em;
    font-family: monospace

}



#clearButton{

    padding: 0;
    width:3.4em;
    height: 2.3em;
    background-color: grey;
    color: white;

}

#inputField {
    padding: inherit;
    height: 2.3em;
    width: 12.9em;
    border-bottom:1px solid black;
    display: block;
    margin:auto;
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;


}

/*.numContainer {
    text-align: center;
    align-content: center;
}*/

h1 {
    text-align: center;
    font-size: 4em;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.opeartorButton {
    background-color: grey;
    color: white;
    min-width: 2em;
}

.container {

    padding: 0;

    max-width: 20.3em;
    min-width: 20.3em;
    display: block;
    margin:auto;



}
