body {
    background-color: #DCDCDC;
}

button {
    height:8em;
    width:13em;
    margin:.5em;
    font-size: 1em;
    padding: 0;
    font-family: monospace;
}

#clearButton{
    width:27.5em;
}

#inputField{
    height:1.9em;
    width:22.3em;
    margin: 0.1em;
    border:1px solid black;
    position: relative;
    left: 21.3%;
    font-size: 2em;
    font-family: 'Anton', sans-serif;
    box-shadow: 10px 10px 5px #888888;

}

.numContainer {
text-align: center;
}

h1 {
    text-align: center;
    font-size: 4em;
    padding: 0;
    margin:0;
    font-family: monospace;

}
