<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Calculator</title>

    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="scripts/scripts.js" charset="utf-8"></script>
</head>

<body>
    <h1>Calculator</h1>
    <!-- <div class="numContainer"> -->

    <br>

    <div class="container" align='center'>

        <p id='inputField'></p>
        <button class='calculatorNum' type="button" name="button">1</button>
        <button class='calculatorNum' type="button" name="button">2</button>
        <button class='calculatorNum' type="button" name="button">3</button>
        <button id='addButton' class='calculatorNum opeartorButton' type="button" name="button">+</button>
        <br>
        <button class='calculatorNum' type="button" name="button">4</button>
        <button class='calculatorNum' type="button" name="button">5</button>
        <button class='calculatorNum' type="button" name="button">6</button>
        <button id='subButton' class='calculatorNum  opeartorButton' type="button" name="button">-</button>
        <br>
        <button class='calculatorNum' type="button" name="button">7</button>
        <button class='calculatorNum' type="button" name="button">8</button>
        <button class='calculatorNum' type="button" name="button">9</button>
        <button id='multButton' class='calculatorNum  opeartorButton' type="button" name="button">X</button>
        <br>
        <button id='clearButton' class='calculatorNum' placeholder='cleared'>Clear</button>
        <button class='calculatorNum  opeartorButton' type="button" name="button">=</button>
        <button class='calculatorNum  opeartorButton' type="button" name="button">/</button>
    </div>
    <!-- </div> -->

</body>

</html>
