<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Calculator</title>
        <link rel="stylesheet" href="style/style.css">
        <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="scripts/scripts.js" charset="utf-8"></script>
    </head>
    <body>
        <h1>Hello World</h1>
        <input id = 'firstInput'  type="number" placeholder="Input here">
        <input id = 'secondInput' type="number" placeholder="Input here">
        <p id= "equals">Results</p>
        <button id = 'addButton' class ='calculatorButton' type="button" name="button">+</button>
        <button id = 'subButton' class ='calculatorButton' type="button" name="button">-</button>
        <button id = 'multButton' class ='calculatorButton' type="button" name="button">X</button>
        <button id = 'divButton' class ='calculatorButton' type="button" name="button">/</button>


    </body>
</html>
